@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinner {
        -moz-appearance: textfield;
    }

    .bg-question-gradient {
        background: linear-gradient(90deg, #373737 0%, #6E6E6E 100%);
    }
}

@layer base {
    html {
        @apply h-full;
    }

    body {
        @apply h-full bg-white antialiased text-gray-900 overflow-y-auto;
    }

    #root {
        @apply min-h-full;
    }
}